.slider-height{
    height: 600px;
}
.my-caption{
    /*position: absolute;*/
    top: 150px;
    /*bottom: ;*/
    /*right: ;*/
    /*left: ;*/
    background-color: rgba(0,0,0, .7);
    border-radius: 10px;
    height: 200px;
}
.girl{
    height: 250px;
    /*width: 300px;*/

}.sheikh-hasina{
     height: 600;
 }
 .putol{
     height: 300px;
     width: 300px;
 }